@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

input,
select,
textarea {
  @apply focus:outline-none focus:ring-0;
}
